<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Главная</title>
    
</head>
<body>
    <h1>Сайт парсинга ЕФРСБ</h1>
    <div class="info-block">
        <h2>Аналитика завершённых торгов</h2>
        <p>Здесь вы можете просмотреть подробную информацию о завершённых торгах, и корректно оценить продаваемый актив. Нажмите на кнопку ниже, чтобы перейти к данному разделу.</p>
        <button onclick="window.location.href='/parse'">Перейти</button>
    </div></body>
</html>
